---
import Layout from "@/layouts/Layout.astro"
import { FixedHeader } from "@/components/FixedHeader"
---

<Layout title="Welcome to WAMO.">
  <FixedHeader client:only="react" />

  <main class="relative">
    <section class="h-[80vh]">
      <img src="/wamo-bg.png" class="absolute inset-0 -z-10" />

      <div class="container mx-auto flex flex-col items-center py-4 xl:py-48">
        <h1 class="text-[#5270F9] text-[110px] font-bold">WAMOTOPIA</h1>
        <h2 class="text-[#5270F9] text-[75px] font-bold">
          2023.12.16 ~ 2024.01.01
        </h2>

        <div class="flex gap-4 mt-8">
          <button
            class="w-60 rounded-md bg-[#FF856A] text-white text-2xl py-2 transition-opacity hover:opacity-90"
            >Learn More</button
          >
          <button
            class="w-60 rounded-md bg-[#375EFF] text-white text-2xl py-2 transition-opacity hover:opacity-90"
            >Join</button
          >
          <!-- <button>我想加入</button> -->
        </div>
      </div>
    </section>

    <div class="bg-[#ced8ff] py-20 text-center">
      <h3 class="text-[#525E95] text-[22px]">
        WAMOTOPIA 是在清迈举办的为期两周的文化交汇活动
      </h3>
      <h3 class="text-[#525E95] text-[22px]">
        融合了 Web3 社区和数字游民，旨在一起创新、协作，并共同塑造未来
      </h3>
    </div>

    <iframe
      src="https://solar-activity.vercel.app/wamo/schedule"
      frameborder="0"
      width="100%"
      class="h-screen"></iframe>
  </main>

  <!-- Placeholder -->
  <footer></footer>
</Layout>
 ../../utils/ui
