---
import Layout from "../layouts/Layout.astro"
import { FixedHeader } from "../components/FixedHeader"
---

<Layout title="Welcome to WAMO.">
  <img src="/wamo-bg.png" class="absolute inset-0 -z-10" />
  <FixedHeader />

  <main class="">
    <div class="container mx-auto flex flex-col items-center py-4 xl:py-48">
      <h1 class="text-[#5270F9] text-[110px] font-bold">WAMOTOPIA</h1>
      <h2 class="text-[#5270F9] text-[75px] font-bold">
        2023.12.16 ~ 2024.01.01
      </h2>

      <div class="flex gap-4 mt-8">
        <button
          class="w-60 rounded-md bg-[#FF856A] text-white text-2xl py-2 transition-opacity hover:opacity-90"
          >深入了解</button
        >
        <button
          class="w-60 rounded-md bg-[#375EFF] text-white text-2xl py-2 transition-opacity hover:opacity-90"
          >我想加入</button
        >
        <!-- <button>我想加入</button> -->
      </div>
    </div>
  </main>

  <!-- Placeholder -->
  <footer></footer>
</Layout>
